<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1> Edit: <%=@attendee.first_name%> <%=@attendee.last_name%> </h1>

  <%= form_for @attendee do |a| %>
    <%= a.text_field :first_name, placeholder: "First Name" %>
    <%= a.text_field :last_name, placeholder: "Last Name" %>
    <%= a.text_field :age, placeholder: "Age" %>
    <%= a.text_field :likes_beer, placeholder: "Likes Beer? [true/false]" %> 
    
    <%= a.submit %>
  <% end %>

  <a href="/attendees">Home</a>
</body>
</html>