<p id="notice"><%= notice %></p>

<h1>Listing Farms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farms.each do |farm| %>
      <tr>
        <td><%= farm.name %></td>
        <td><%= farm.location %></td>
        <td><%= link_to 'Show', farm %></td>
        <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
        <td><%= link_to 'Destroy', farm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm', new_farm_path %>
