<% parsed.forEach(function(element) { %>
	<h1><%=element.title%></h1>
	<p><%=element.runtime%> | <%=element.rating%> | <%=element.year%></p>
	<h3>Stars: <%=element.actor1%> and <%=element.actor2%><h3>


<% }) %>
