<!DOCTYPE html>
<html>
<head>
  <title>AshleyStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- we need a link here that fires a delete request to sessions controller -->

  <% if session[:user_id] %>
    <%= link_to("log out", "/sessions", method: :delete) %>
  <% end %>

<%= yield %>

</body>
</html>
